:root {
   --celeste:#21a2ad;
   --violeta: #b32fd1;
   --naranja: #e08f32;
   --verde:   #66af46;

   --celeste-light: #81cfd8;
   --violeta-light: #d462eb;
   --naranja-light: #f5c186;
   --verde-light: #b8d462;
}
* {
   padding: 0;
   margin: 0;
}
body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Courier New', Courier, monospace;
}
.titulo{
   margin: 40px;
   font-size: 50px;
}
.container {
   width: 450px;
   height: 450px;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
}
.colores {
   width: 310px;
   height: 310px;
}
.container__colores {
   width: 50%;
   height: 50%;
   position: absolute;
}

.colores--colorCeleste {
   bottom: 0;
   left: 0;
   background-color: var(--celeste);
}
.colores--colorCeleste.active {
   background-color: var(--celeste-light);
}

.colores--colorVioleta {
   background-color: var(--violeta);
}
.colores--colorVioleta.active {
   background-color: var(--violeta-light);
}

.colores--colorVerde {
   top: 0;
   right: 0;
   background-color: var(--verde);
}
.colores--colorVerde.active{
   background-color: var(--verde-light);
}

.colores--colorNaranja {
   bottom: 0;
   right: 0;
   background-color: var(--naranja);
}
.colores--colorNaranja.active {
   background-color: var(--naranja-light);
}

.btnJuego {
   font-size: 30px;
   letter-spacing: 5px;
   width: 70%;
   height: 24%;
   background-color: #c8c8c8;
   border: 1px solid #acabab;
   position: absolute;
   top: calc(50% - 12%);
   left: calc(50% - 35%);
   box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.7);
   outline: none;
}
.btnJuego--oculto {
   display: none;
}
.btnJuego:hover {
   cursor: pointer;
   background-color: #c0c0c0;
}
